 The relationship of size and shape for painted turtles are studied by Jolicoeur & Mosimann*. The measurements on the carapaces of 24 female and 24 male turtles can be seen in the following table.

 Test if the mean vectors of the two populations are equal, given ùõº = 0.05. Hint: You may wish to consider log transformation on the observations.

In [ ]:
 import pandas as pd 
 import numpy as np 
 from scipy import stats

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df_female = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/homework_4/female.csv', sep=";", header=None, names=['Length', 'Width', 'Height'])

df_female.head()

   Length  Width  Height
0      98     81      38
1     103     84      38
2     103     86      42
3     105     86      42
4     109     88      44

In [ ]:
df_male = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/homework_4/male.csv', sep=";", header=None, names=['Length', 'Width', 'Height'])

df_male.head()

   Length  Width  Height
0      93     74      37
1      94     78      35
2      96     80      35
3     101     84      39
4     102     85      38

In [ ]:
df_female = df_female.apply(pd.to_numeric)
df_male = df_male.apply(pd.to_numeric)

#tranforming in log 
female_log = np.log1p(df_female) 
male_log = np.log1p(df_male)

In [ ]:
import numpy as np
from sklearn import datasets
from scipy.stats import f

def TwoSampleT2Test(X, Y):
  nx, p = X.shape
  ny, _ = Y.shape
  delta = np.mean(X, axis=0) - np.mean(Y, axis=0)
  Sx = np.cov(X, rowvar=False)
  Sy = np.cov(Y, rowvar=False)
  S_pooled = ((nx-1)*Sx + (ny-1)*Sy)/(nx+ny-2)
  t_squared = (nx*ny)/(nx+ny) * np.matmul(np.matmul(delta.transpose(), np.linalg.inv(S_pooled)), delta)
  statistic = t_squared * (nx+ny-p-1)/(p*(nx+ny-2))
  F = f(p, nx+ny-p-1)
  p_value = 1 - F.cdf(statistic)
  print(f"Test statistic: {statistic}\nDegrees of freedom: {p} and {nx+ny-p-1}\np-value: {p_value}")
  return statistic, p_value

In [ ]:
TwoSampleT2Test(female_log, male_log)

Test statistic: 27.021187020920713
Degrees of freedom: 3 and 44
p-value: 4.580646972840441e-10

(27.021187020920713, 4.580646972840441e-10)

In [ ]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [ ]:
df_gender = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/homework_4/gender.csv', sep=";", header=None, names=['Length', 'Width', 'Height', 'Gender'])

df_gender.head()

   Length  Width  Height Gender
0      98     81      38   Male
1     103     84      38   Male
2     103     86      42   Male
3     105     86      42   Male
4     109     88      44   Male

In [ ]:
maov = MANOVA.from_formula('Length + Width + Height ~ Gender', data=df_gender)
print(maov.mv_test())

                  Multivariate linear model
==============================================================

--------------------------------------------------------------
       Intercept         Value  Num DF  Den DF F Value  Pr > F
--------------------------------------------------------------
          Wilks' lambda  0.0173 3.0000 44.0000 834.1339 0.0000
         Pillai's trace  0.9827 3.0000 44.0000 834.1339 0.0000
 Hotelling-Lawley trace 56.8728 3.0000 44.0000 834.1339 0.0000
    Roy's greatest root 56.8728 3.0000 44.0000 834.1339 0.0000
--------------------------------------------------------------

--------------------------------------------------------------
           Gender         Value  Num DF  Den DF F Value Pr > F
--------------------------------------------------------------
            Wilks' lambda 0.3886 3.0000 44.0000 23.0782 0.0000
           Pillai's trace 0.6114 3.0000 44.0000 23.0782 0.0000
   Hotelling-Lawley trace 1.5735 3.0000 44.0000 23.0782 0.0000
      Roy's greatest root 1.5735 3.0000 44.0000 23.0782 0.0000
==============================================================

Basically, p value is a number very small for both tests, it means that we fail to prove Ho. It means that the two groups (female and male turtles) have a different means, and they are different stastisticly .