The spectral reflectance of three species of 1-year-old seedlings was measured at various wavelengths in one experiment involving remote sensing during the growing season. The seedlings were grown with two different levels of nutrients: the optimal level, coded +, and a suboptimal level, coded ‚àí. The species of seedlings used were Sitka Spruce (SS), Japanese Larch (JL), and Lodgepole Pine (LP). Two of the variables measured were:

ùë•1 = percent spectral reflectance at wavelength 560 nm (green), and

ùë•2 = percent spectral reflectance at wavelength 720 nm (near ‚àí infrared).

The Cell Means (CM) for each combination of species and nutrient level is as follows. These averages are based on four replications.

Treating the cell means as individual observations, perform two MANOVAs to test for the species effect and the nutrient effect, respectively, with ùõº = 0.05.

In [ ]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from statsmodels.stats.multicomp import pairwise_tukeyhsd

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/homework_4/data.csv', sep=";")


df.head()

   five_hun_cm  seven_hund_cm Species          Nutrient
0        10.35          25.93      SS     optimal level
1        13.41          38.63      JL     optimal level
2         7.78          25.15      JP     optimal level
3        10.40          24.25      SS  subiotimal level
4        17.78          41.45      JL  subiotimal level

In [ ]:
maov_nutrient = MANOVA.from_formula('five_hun_cm + seven_hund_cm  ~ Nutrient', data=df)
print(maov_nutrient.mv_test())

                 Multivariate linear model
============================================================

------------------------------------------------------------
       Intercept         Value  Num DF Den DF F Value Pr > F
------------------------------------------------------------
          Wilks' lambda  0.0812 2.0000 3.0000 16.9782 0.0231
         Pillai's trace  0.9188 2.0000 3.0000 16.9782 0.0231
 Hotelling-Lawley trace 11.3188 2.0000 3.0000 16.9782 0.0231
    Roy's greatest root 11.3188 2.0000 3.0000 16.9782 0.0231
------------------------------------------------------------

------------------------------------------------------------
         Nutrient        Value  Num DF Den DF F Value Pr > F
------------------------------------------------------------
           Wilks' lambda 0.6114 2.0000 3.0000  0.9535 0.4780
          Pillai's trace 0.3886 2.0000 3.0000  0.9535 0.4780
  Hotelling-Lawley trace 0.6357 2.0000 3.0000  0.9535 0.4780
     Roy's greatest root 0.6357 2.0000 3.0000  0.9535 0.4780
============================================================

Since the P-value is bigger than alpha, we can not reject the Ho, and no nutrent effects

In [ ]:
maov_species = MANOVA.from_formula('five_hun_cm + seven_hund_cm  ~  Species', data=df)
print(maov_species.mv_test())

                   Multivariate linear model
===============================================================

---------------------------------------------------------------
       Intercept          Value   Num DF Den DF F Value  Pr > F
---------------------------------------------------------------
          Wilks' lambda    0.0008 2.0000 1.0000 641.3910 0.0279
         Pillai's trace    0.9992 2.0000 1.0000 641.3910 0.0279
 Hotelling-Lawley trace 1282.7820 2.0000 0.5000 320.6955 0.1671
    Roy's greatest root 1282.7820 2.0000 1.0000 641.3910 0.0279
---------------------------------------------------------------

---------------------------------------------------------------
          Species          Value   Num DF Den DF F Value Pr > F
---------------------------------------------------------------
            Wilks' lambda   0.0049 6.0000 2.0000  4.4481 0.1949
           Pillai's trace   1.4715 6.0000 4.0000  1.8561 0.2860
   Hotelling-Lawley trace 106.7484 6.0000 0.0000  0.0000    nan
      Roy's greatest root 105.8222 3.0000 2.0000 70.5481 0.0140
===============================================================

Since the P-value is bigger than alpha, we can not reject the Ho, and no Species effects

Construct a two-way ANOVA for the 560CM observations and another two-way ANOVA for the 720CM observations. Are these results consistent with the MANOVA results in (a)? If not, can you explain any differences?

In [ ]:
model_five = ols('five_hun_cm ~ Nutrient + Species', data=df).fit()
sm.stats.anova_lm(model_five, typ=2)

             sum_sq   df         F    PR(>F)
Nutrient   4.884100  1.0  1.046832  0.492716
Species   47.532467  3.0  3.395952  0.374910
Residual   4.665600  1.0       NaN       NaN

In [ ]:
model_seven = ols('seven_hund_cm ~ Nutrient + Species', data=df).fit()
sm.stats.anova_lm(model_seven, typ=2)

              sum_sq   df          F    PR(>F)
Nutrient    0.324900  1.0   0.064178  0.842046
Species   266.275433  3.0  17.532539  0.173373
Residual    5.062500  1.0        NaN       NaN

Both p-values are more significant than alpha in these tests, and we also cannot reject Ho. Similar to the a), we fail at rejecting Ho.